* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Manrope", serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 1rem;
    border-style: none;
    background-color: white;
}
.img-container {
    img {
        max-inline-size: 100%;
        block-size: auto;
    }
}