* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Manrope", serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 1rem;
    border-style: none;
    background-color: white;

    h1 {
        color: hsl(217, 19%, 35%);
        font-size: 1rem;
    }
    p {
        color: hsl(214, 17%, 51%);
        font-weight: 500;
    }
    p.name {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
    }
    p.date {
        color: hsl(212, 23%, 69%);
    }
}
.img-container {
    img {
        max-inline-size: 100%;
        block-size: auto;
    }
}