* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-inline-size: 100%;
    block-size: auto;
}
body {
    height: 100vh;
    font-family: "Manrope", serif;
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    min-width: 20.436rem;
    max-width: 20.436rem;
    margin: 1.5rem;
    padding-bottom: 1rem;
    border-style: none;
    border-radius: .5rem;
    background-color: white;

    h2 {
        color: hsl(217, 19%, 35%);
        font-size: 1rem;
    }
    p {
        color: hsl(214, 17%, 51%);
        font-weight: 500;
    }
    p.name {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
    }
    p.date {
        color: hsl(212, 23%, 69%);
    }
    .text-body {
        margin: .5rem;
        margin-bottom: 2rem;

        h2.inner-text {
            margin: 1rem;
            margin-top: 2rem;
        }
        p.inner-text {
            margin: 1rem;
        }
    }
    .footer {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-container {
        width: 3rem;
        img {
            border-radius: 50%;
        }
    }
    .inner-text-footer {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 1.5rem;
    }
}
.img-container {
    img {
        display: block;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
    }
}
.share-container {
    button {
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
        border-style: none;
        border-radius: 50%;
        background-image: url("images/icon-share.svg");
        background-repeat: no-repeat;
        background-position: center center;

        .sr-only {
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
    }
}
.footer-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-inline: auto;
    width: fit-content;
}
.attribution {
    display: flex;
    justify-content: center;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
a:visited {
    color: blue;
}
@media (min-width: 62.5rem) {
    .container {
        margin: 0;
        padding: 0;
        max-width: 50rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .img-container {
        img {
            margin-bottom: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: .5rem;
        }
    }
}